.sign__button{
  height: 50px;
  width: 358px;
  font-family: 'Inter','Arial', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  margin: 0;
  margin-top: 216px;
}