.elements__button-delite{
  width: 18px;
  height: 19px;
  background-image: url(../../../images/Group1.svg);
  border: none;
  background-color: rgba(0, 0, 0, 0);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: absolute;
  left: 244px;
  top: 20px;
}